<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <form method="POST" action="/">
  	<label>Enter your phrase:</label>
  	<textarea name='user_text'></textarea>
  	<button type='submit' value="Submit"></button>
  </form>
  </body>
</html>